body {
    bgcolor=#d7b7ff ;
}
h1{
background-color:rgb(238, 130, 238) ;
color: white;
  }
 h2 {
	 text-decoration: underline wavy rgb(238, 130, 238);
 }
 
h4 {
    color: mediumviolet;
    font-size: 20pt;
    text-align: center;
    text-shadow: 1px 1px 2px violet, 0 0 1em white;
    width: 100%;
    
}
}

 